
.contact{
    height: 150vh;
    padding: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-color;
    
    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
        padding: 2rem;
        background-color: $primary-color;
         box-shadow: 17px 17px 30px $secondary-color;
         border-bottom: 5px solid $secondary-color;
        border-right: 3px solid $secondary-color;
         margin-top: -70%; 

         i{
             margin-right: 0.5rem;
         }

         .connect-me{
             text-align: center;
             padding: 1rem;
             background-color: rgba(128, 128, 128, 0.5);
             border: 2px solid $secondary-color;
         }
    }
}

